production:
  access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  bucket: <%= ENV["S3_BUCKET_NAME"] %>
  folder:
  endpoint:
  private: true
  expires:
  proxy:
  thumb_folder:
  region: <%= ENV["AWS_REGION"] %>

development:
  access_key_id:
  secret_access_key:
  bucket:
  folder:
  endpoint:
  private:
  expires:
  proxy:
  thumb_folder:
  region:

# Uncomment this to run plugin tests with standard redmine script
# test:
#   access_key_id:
#   secret_access_key:
#   bucket:
